.login-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80vh;
}

.login-form {
  width: 350px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  background: white;
  padding: 30px;
  border-radius: 10px;

  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-form button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}